@using WebBanDienThoai.Models


@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@{
    List<SANPHAM> newIphoneProducts = ViewBag.IphoneProducts as List<SANPHAM>;

    List<SANPHAM> newSamsungProducts = ViewBag.SamsungProducts as List<SANPHAM>;

    List<SANPHAM> newHeadphoneProducts = ViewBag.HeadphoneProducts as List<SANPHAM>;
}

@Html.Action("Banner", "Home")
<!-- top Products -->
<div class="ads-grid">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            SẢN PHẨM NỔI BẬT
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        @Html.Action("SideBarHome", "Home")
        <!-- product right -->
        <div class="agileinfo-ads-display col-md-9">
            <div class="wrapper">
                <!-- first section (nuts) -->
                @if (newIphoneProducts != null && newIphoneProducts.Count > 0)
                {
                    @Html.Partial("~/Views/Products/FirstStyleProducts.cshtml", newIphoneProducts)
                }
                <!-- second section -->
                <div class="product-sec1 product-sec2">
                    <div class="col-xs-7 effect-bg">
                        <h3 class="">iPhone 14</h3>
                        <h6>Trải nghiệm công nghệ đột phá</h6>
                        <p>Nhận giảm giá đến 10%</p>
                    </div>
                    <h3 class="w3l-nut-middle">Chỉ có tại Mai Nguyen</h3>
                    <div class="col-xs-5 bg-right-nut">
                        <img style="width: 265px; border-radius: 40px" src="@Url.Content("~/Content/Images/Banners/iphone14-demo.jpg")" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- third section (oils) -->
                @if (newSamsungProducts != null && newSamsungProducts.Count > 0)
                {
                    @Html.Partial("~/Views/Products/FirstStyleProducts.cshtml", newSamsungProducts)
                }
                <!-- fourth section (noodles) -->
                @if (newHeadphoneProducts != null && newHeadphoneProducts.Count > 0)
                {
                    @Html.Partial("~/Views/Products/FirstStyleProducts.cshtml", newHeadphoneProducts)
                }
            </div>
        </div>
    </div>
</div>
@Html.Action("SecondStyleProducts", "Products")